{% extends "admin_module/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>View Allocation</title>
</head>
<body>
<table class="table bg-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course</th>
      <th scope="col">Subject</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for datum in  data %}
          <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ datum.course.coursename }}</td>
      <td>&nbsp;{{ datum.subject.subjectname }}</td>
      <td><a class="btn btn-danger btn-sm" href="/delete3/{{ datum.id }}">Delete</a></td>
    </tr>

      {% endfor %}

  </table>
</body>
</html>
{% endblock %}
