{% extends "admin_module/index.html" %}
{% block title %} View Allocation {% endblock %}
{% block body %}
<table class="table bg-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Course</th>
    <th scope="col">Subject</th>
    <th scope="col">&nbsp;</th>
  </tr>
  {% for datum in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ datum.course.coursename }}</td>
    <td>&nbsp;{{ datum.subject.subjectname }}</td>
    <td><a class="btn btn-danger btn-sm" href="/delete3/{{ datum.id }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}