<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
</head>
<body>
  <table width="200" border="1">
    <tr>
      <th scope="col"><a href="/tutortable-admin">view tutor</a></th>
    </tr>
    <tr>
      <th><a href="/approveorreject">approve/reject </a></th>
    </tr>
    <tr>
      <th><a href="/studenttable-admin">view student</a></th>
    </tr>
    <tr>
      <th><a href="/complainttable-admin">view complaint</a></th>
    </tr>
    <tr>
      <th><a href="/courseadd">add course</a></th>
    </tr>
      <tr>
      <th><a href="/coursetable-admin">view course</a></th>
    </tr>
    <tr>
      <th><a href="/subjectadd">add subject</a></th>
    </tr>
      <tr>
      <th><a href="/subjecttable-admin">view subject</a></th>
    </tr>
    <tr>
      <th><a href="/subjectallocation">subject allocation</a></th>
    </tr>
      <tr>
      <th><a href="/allocationtable">view allocation</a></th>
    </tr>
    <tr>
      <th><a href="/feedbacktable">view feedback</a></th>
    </tr>
  </table>
</body>
</html>
