{% extends "admin_module/index.html" %}
{% block title %} Subject Allocation {% endblock %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  {% csrf_token %}
  <table class="table bg-light">
    <tr>
      <th class="align-middle" scope="row">CourseName</th>
      <td><label for="select"></label>
        <select name="select" id="select" required class="form-control">
          {% for i in data %}
          <option value="{{ i.id }}">{{ i.coursename }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th class="align-middle" scope="row">SubjectName</th>
      <td><label for="select2"></label>
        <select name="select2" id="select2" required class="form-control">
          {% for i in data1 %}
          <option value="{{ i.id }}">{{ i.subjectname }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th colspan="2" scope="row">
        <div align="center"><button class="btn btn-secondary btn-sm" type="submit" name="button"
            id="button">Allocate</button></div>
      </th>
    </tr>
  </table>
</form>
{% endblock %}