{% extends "tutor_module/index.html" %}
{% block title %} Change Password {% endblock %}
{% block body %}
<form id="form1" name="form1" method="post" action="/changepassword-tutor">
  {% csrf_token %}
  <center>
    <table class="table bg-light">
      <tr>
        <th class="align-middle" scope="row">Current Password</th>
        <td><label for="textfield2"></label>
          <input type="text" name="textfield" id="textfield2" class="form-control" required />
        </td>
      </tr>
      <tr>
        <th class="align-middle" scope="row">New Password</th>
        <td><label for="textfield3"></label>
          <input type="text" name="textfield2" id="textfield3" class="form-control" required />
        </td>
      </tr>
      <tr>
        <th class="align-middle" scope="row">Confirm Password</th>
        <td><label for="textfield4"></label>
          <input type="text" name="textfield3" id="textfield4" class="form-control" required />
        </td>
      </tr>
      <tr>
        <th colspan="2" scope="row">
          <div align="center"> <button class="btn btn-secondary btn-sm" type="submit" name="button"
              id="button">change</button></div>
        </th>
      </tr>
    </table>
  </center>
</form>
{% endblock %}