{% extends "tutor_module/index.html" %}
{% block title %} Upload class {% endblock %}
{% block body %}
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  {% csrf_token %}
  <center>
    <table style="width: 100px;" class="table bg-light">
      <tr>
        <th class="align-middle" scope="row">Class</th>
        <td scope="row"><label for="fileField"></label>
          <input type="file" name="fileField" id="fileField" required />
        </td>
      </tr>
      <tr>
        <th scope="row">
          <div align="center"><button class="btn btn-secondary btn-sm" type="submit" name="button"
              id="button">Upload</button></div>
        </th>
      </tr>
    </table>
  </center>
</form>
{% endblock %}