<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
</head>

<body>
  <table width="200" border="1">
    <tr>
      <th><a href="/tutorprofile">view profile</a></th>
    </tr>
    <tr>
      <th><a href="/studenttable-tutor">view students</a></th>
    </tr>
    <tr>
      <th><a href="/tutorchat">chat</a></th>
    </tr>
    <tr>
      <th><a href="/coursetable-tutor">view course</a></th>
    </tr>
    <tr>
      <th><a href="/selectedsubject-table">select subject</a></th>
    </tr>
          <tr>
      <th><a href="/materialstable-tutor">view materials</a></th>
    </tr>

          <tr>
      <th><a href="/classtable-tutor">view class</a></th>
    </tr>

  </table>
</body>
</html>
