{% extends "tutor_module/index.html" %}
{% block title %} View Notes {% endblock %}
{% block body %}
<table class="table bg-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Materials</th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
    <th> </th>
    {% for i in data %}
  </tr>
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td><a class="btn btn-secondary btn-sm" href="{{ i.material }}">view</a></td>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.time }}</td>
    <td><a class="btn btn-danger btn-sm" href="/delete4/{{ i.id }}">Delete</a> </td>
  </tr>

  {% endfor %}
</table>
{% endblock %}