{% extends "tutor_module/index.html" %}
{% block title %} Subject Select {% endblock %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  {% csrf_token %}
  <table class="table bg-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course</th>
      <th scope="col">Subjects</th>
      <th scope="col"></th>
      <th scope="col"> </th>
    </tr>
    {% for i in data %} <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.allocatesubject.course.coursename }}</td>
      <td>&nbsp;{{ i.allocatesubject.subject.subjectname }}</td>
      <td><a class=" btn btn-secondary btn-sm" href="/materials/{{ i.id }}#a">Materials</a></td>
      <td><a class="btn btn-secondary btn-sm " href="/classupload/{{ i.id }}#a">Class</a> </td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}