{% extends "tutor_module/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Subject Select</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
    {% csrf_token %}
<center>
<table class="table bg-light">
    <tr>
      <th scope="col">#</th>
        <th scope="col">Course</th>
      <th scope="col">Subjects</th>
      <th scope="col"></th>
        <th scope="col"> </th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
        <td>{{ i.allocatesubject.course.coursename }}</td>
      <td>&nbsp;{{ i.allocatesubject.subject.subjectname }}</td>
      <td><a class="btn btn-secondary btn-sm" href="/materials/{{ i.id }}#a">Materials</a></td>
    <td><a class="btn btn-secondary btn-sm" href="/classupload/{{ i.id }}#a">Class</a> </td>
    </tr>
      {% endfor %}
  </table>
</center>
</form>
</body>
</html>
{% endblock %}
