<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Edumate | Tutor Registration</title>

  <!-- Bootstrap core CSS -->
  <link href=" /static/temp/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/temp/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/static/temp/assets/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="/static/temp/assets/css/owl.css">
  <link rel="stylesheet" href="/static/temp/assets/css/lightbox.css">
  <link rel="stylesheet" href="/static/temp/assets/css/registration.css">

</head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!--  ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              Edu Mate
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="/" class="active">Home</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="contact-us" id="contact">
    <div class=" container" id="conn">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-8">
              <form id="contact" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">

                  <div class="col-lg-12">
                    <h2>Register</h2>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input type="text" name="textfield" id="textfield" placeholder="Name" required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input type="text" name="textfield2" id="textfield2" placeholder="HouseName" required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input type="text" name="textfield3" id="textfield3" placeholder="Place" required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input type="text" name="textfield4" id="textfield4" placeholder="Post" required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input type="text" name="textfield5" id="textfield5" pattern="^[1-9][0-9]{5}$"
                        placeholder="Pincode" required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-6">
                    <fieldset>
                      <p class="nm">District</p>
                    </fieldset>
                  </div>

                  <div class=" col-lg-6">
                    <fieldset>
                      <label for="select"></label>
                      <select name="select" id="select" class=" form-control">
                        <option>Kasargode</option>
                        <option>Kannur</option>
                        <option>Kozhikode</option>
                        <option>Wayanad</option>
                        <option>Malappuram</option>
                        <option>Palakkad</option>
                        <option>Thrissur</option>
                        <option>Idukki</option>
                        <option>Alappuzha</option>
                        <option>pathanamthitta</option>
                        <option>Ernakulam</option>
                        <option>Kottayam</option>
                        <option>Kollam</option>
                        <option>Thiruvananthapuram</option>
                      </select>
                    </fieldset>
                  </div>

                  <div class="col-lg-4">
                    <fieldset>
                      <p class="nm"> Gender</p>
                    </fieldset>
                  </div>

                  <div class=" col-lg-4">
                    <fieldset>
                      <label class="gender">
                        <input style="width:15px;height:15px" type="radio" name="RadioGroup1" value="male"
                          id="RadioGroup1_0" />
                        Male</label>
                    </fieldset>
                  </div>

                  <div class="col-lg-4">
                    <fieldset>
                      <label class="gender">
                        <input style="width:15px;height:15px" type="radio" name="RadioGroup1" value="female"
                          id="RadioGroup1_1" />
                        Female</label>
                    </fieldset>
                  </div>

                  <div class="col-lg-4">
                    <fieldset>
                      <p class="nm"> Qualification</p>
                    </fieldset>
                  </div>

                  <div class="col-lg-4">
                    <fieldset>
                      <label class="check">
                        <input style="width:15px;height:15px" type="checkbox" name="CheckboxGroup1" value="ug"
                          id="CheckboxGroup1_0" />
                        Ug</label>
                    </fieldset>
                  </div>

                  <div class="col-lg-4">
                    <fieldset>
                      <label class="check">
                        <input style="width:15px;height:15px" type="checkbox" name="CheckboxGroup1" value="pg"
                          id="CheckboxGroup1_1" />
                        Pg </label>
                    </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input type="text" name="textfield6" id="textfield6" pattern="[6789][0-9]{9}"
                        placeholder="Contact" required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input type="text" name="textfield7" id="textfield7" pattern="[^ @]*@[^ @]*" placeholder="Email"
                        required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input type="password" name="textfield8" id="textfield8" placeholder="Password" required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-6">
                    <fieldset>
                      <P class="nm"> CV/Resume</P>
                    </fieldset>
                  </div>

                  <div class="col-lg-6">
                    <fieldset>
                      <input type="file" name="fileField" id="fileField" required="">
                    </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">REGISTER</button>
                    </fieldset>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>Copyright © 2023 Edu mate Co., Ltd. All Rights Reserved.
      </p>
    </div>

  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/static/temp/vendor/jquery/jquery.min.js"></script>
  <script src="/static/temp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/static/temp/assets/js/isotope.min.js"></script>
  <script src="/static/temp/assets/js/owl-carousel.js"></script>
  <script src="/static/temp/assets/js/lightbox.js"></script>
  <script src="/static/temp/assets/js/tabs.js"></script>
  <script src="/static/temp/assets/js/video.js"></script>
  <script src="/static/temp/assets/js/slick-slider.js"></script>
  <script src="/static/temp/assets/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>