{% extends "student_module/index.html" %}
{% block css %}
<link rel="stylesheet" href="/static/temp/assets/css/studentchat.css">
{% endblock %}
{% block title %} Chat {% endblock %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
    {% csrf_token %}
    <center>
        <div class="main bg-light">
            <div class="message">
                {% for i in data %}
                {% if i.type == 'Student' %}
                <div class="right" align="right">
                    <p class="student-msg">{{ i.chat }}</p>
                </div>
                {% else %}
                <div class="left" align="left">
                    <p class="tutor-msg">{{ i.chat }}</p>
                </div>
                {% endif %}

                {% endfor %}
            </div>
            <div class="chat">
                <input type="text" id="msg" name="msg" placeholder="Ask your doubt here!..." />
                <input type="submit" value="send" class="btn btn-secondary btn-sm" />
            </div>

        </div>
    </center>
</form>
{% endblock %}