{% extends "student_module/index.html" %}
{% block title %} Complaint {% endblock %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  {% csrf_token %}
  <table class="table bg-light">
    <tr>
      <th scope="row"><label for="textarea"></label>
        <textarea name="textarea" id="textarea" cols="45" rows="5" placeholder="Type your complaint here!..." required
          class="form-control"></textarea>
      </th>
    </tr>
    <tr>
      <th scope="row">
        <div align="center"><button class="btn btn-secondary btn-sm" type="submit" name="button"
            id="button">Send</button></div>
      </th>
    </tr>
  </table>
</form>
{% endblock %}