{% extends "student_module/index.html" %}
{% block title %} Course {% endblock %}
{% block body%}
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
</head>

<body>
  <table class="table bg-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">CourseName</th>
      <th scope="col"></th>
    </tr>
    {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.coursename }}</td>
      <td><a class="btn btn-secondary btn-sm" href="/subjecttable-student/{{ i.id }}#a">Subjects</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endblock %}