<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
</head>

<body>
  <table width="200" border="1">
          <tr>
      <th><a href="/studentprofile">view profile</a></th>
    </tr>

    <tr>
      <th><a href="/tutortable-student">view tutors</a></th>
    </tr>
    <tr>
      <th><a href="/classtable-student">view classes</a></th>
    </tr>
    <tr>
      <th><a href="/studentchat">chat</a></th>
    </tr>
    <tr>
      <th><a href="/complaint">send complaint</a></th>
    </tr>
    <tr>
      <th><a href="/complainttable-student">view reply</a></th>
    </tr>
    <tr>
      <th><a href="/coursetable-student">view course</a></th>
    </tr>
    <tr>
      <th><a href="/materialstable-student">view notes</a></th>
    </tr>
    <tr>
      <th><a href="/feedbackform">send feedback</a></th>
    </tr>
  </table>
</body>
</html>
