{% extends "student_module/index.html" %}
{% block title %} Profile {% endblock %}
{% block body%}
<table class="table bg-light">
  <tr>
    <th scope="row">Name</th>
    <td>{{ data.name }}</td>
  </tr>
  <tr>
    <th scope="row">Address</th>
    <td>{{ data.housename }}<br>
      {{ data.place }}<br>
      {{ data.post }}<br>
      {{ data.pin }}<br>
      {{ data.district }}</td>
  </tr>
  <tr>
    <th scope="row">Gender</th>
    <td>{{ data.gender }}</td>
  </tr>
  <tr>
    <th scope="row">Contact</th>
    <td>{{ data.contact }}</td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td>{{ data.email }}</td>
  </tr>
</table>
{% endblock %}