<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Edumate | Online Education</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/temp/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/temp/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/static/temp/assets/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="/static/temp/assets/css/owl.css">
  <link rel="stylesheet" href="/static/temp/assets/css/lightbox.css">
</head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              Edu mate
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li><a href="/tutorregistration">Tutor registration</a></li>
              <li><a href="/studentregistration">Student registration</a></li>

              <div class="main-button-yellow">
                <div class="scroll-to-section"><a href="#contact">LOGIN</a></div>
              </div>
            </ul>

            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
      <source src="/static/temp/assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>welcome to the world of education</h6>
              <h2>Learn without limits</h2>
              <p>
                Start, switch, or advance your career with more than 5,400 courses, Professional Certificates, and
                degrees from world-class universities and companies..</p>
              <div class="main-button-red">
                <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">

            <div class="item">
              <div class="icon">
                <img src="/static/temp/assets/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Best Education</h4>
                <p>Embark on a transformative journey with our courses, unlocking knowledge that empowers. Experience
                  learning excellence, shaping a brighter future for every learner.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/static/temp/assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Best Teachers</h4>
                <p>Ignite potential with visionary faculty, epitomes of excellence. Join an environment where the best
                  teachers nurture growth, guiding and inspiring success.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/static/temp/assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Best Students</h4>
                <p>Enter a realm where the best thrive, a community of driven individuals pushing boundaries for
                  greatness. Success is a shared journey of ambition and achievement.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/static/temp/assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Online Meeting</h4>
                <p>Explore the future of education through seamless online meetings, breaking down geographical
                  barriers. Our virtual classrooms ensure collaborative learning and meaningful connections in
                  real-time.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/static/temp/assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Best Networking</h4>
                <p>Join a vibrant community where networking unlocks opportunities. Engage with peers, mentors, and
                  professionals. Our dynamic platform turns networks into catalysts for your success.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>APPLY FOR BACHELOR DEGREE</h3>
                <p>Study in-demand fields and learn job-ready skills with an online bachelor’s degree from an accredited
                  university designed with flexibility in mind..</p>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>APPLY FOR MASTERS DEGREE</h3>
                <p>Build your expertise to advance or switch your career. Earn an online master’s degree from an
                  accredited university specifically designed for working professionals..</p>
                <div class="main-button-yellow">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
              <div class="accordion-head">
                <span>Finished a Professional Certificate?</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <P>Get resources and support to guide you through the job search process.</P>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span>Showcase your skills</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p>Present real-world projects to potential employers.</p>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span>Enhance your resume</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p>Get support to build a standout resume and LinkedIn profile.</p>
                </div>
              </div>
            </article>
            <article class="accordion last-accordion">
              <div class="accordion-head">
                <span>Ace your interview</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <P>Practice and improve your interview skills with virtual feedback.</P>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Our Popular Courses</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/44ANFFMFvQDjgd5vZ6p3oI/8afb0be7ec29027def9737f78f9a03f2/cover-android-developer.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="Course One">
              <div class="down-content">
                <h4 class="fw-bold text-center">Android Developer</h4>
                <p class="text-center px-3">Craft user-friendly apps, shaping Android with innovative coding and design
                  for
                  the world's largest mobile platform.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$160</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/3H9ztONoEtJFe8B79WsifE/241d50889402816834d83338142b6d2f/cover-ios-developer.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="Course Two">
              <div class="down-content">
                <h4 class="fw-bold text-center">iOS Developer</h4>
                <p class="text-center px-3">Master iOS development, crafting seamless, cutting-edge Apple apps. Dive
                  into Swift, building for the future of mobile innovation.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$180</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/2myQHPO0Am0qV0e0EPJF8/ffcbd652b2198fbf8b718b8f62dc4507/digital-marketer-cover.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="fw-bold text-center">Digital Marketer</h4>
                <p class="text-center px-3">Become a digital storyteller. Master strategies, tools, and tactics for
                  navigating the dynamic landscape of online marketing.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$140</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/62YEtEKcqhqnwT8lBePhBW/03f6af20abaf6e6c162ecb79e18940b5/cover-frontend-developer.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="fw-bold text-center">Front-End Developer</h4>
                <p class="text-center px-3">Bring designs to life. Dive into HTML, CSS, and JavaScript, mastering the
                  art of
                  creating engaging, responsive user interfaces.
                </p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$120</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/17Z0RfMFbDtmzUaOcfUtHh/7041e73eb85f2783fc78570d23435974/cover-backend-developer.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="fw-bold text-center">Back-End Developer</h4>
                <p class="text-center px-3">Architect web app backbone. Delve into server-side scripting, databases, and
                  frameworks for seamless functionality and robust applications.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$250</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/RPKgXpC4AX6SrbU425JME/8eb2a07e3c1aba158ca3b3b9788fb48a/data-engineer-cover.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class=" fw-bold text-center">Data Engineer</h4>
                <p class="text-center px-3">Engineer data ecosystems. Learn to design, build, and maintain robust data
                  infrastructure for powerful analytics and insights.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$270</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/1PW1CvFwqQDn19MYzW0bHD/baf5223f1f49ee9fde334013da559032/it-support-cover.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="fw-bold text-center">IT Support Specialist</h4>
                <P class="text-center px-3">Become a tech troubleshooter. Master IT fundamentals, providing crucial
                  support
                  for smooth and secure business operations.</P>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$340</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/7oeSAFfCbtJEfjncgTed55/f3a7f6baff4dfabf518d24dc34377731/data-analyst-cover.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="fw-bold text-center">Data Analyst</h4>
                <p class="text-center px-3">Transform raw data into actionable insights. Acquire skills to analyze,
                  interpret, and present effective data-driven solutions.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$360</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/5DqpWgLsxYY7qiDByGV5RY/06a51ac46937084bca466f746bddfaee/project-management-cover.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="text-center fw-bold">Project Manager</h4>
                <p class="text-center px-3">Lead with purpose. Acquire skills to plan, execute, and oversee successful
                  projects, ensuring goals are met and teams thrive under your guidance. </p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$400</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/3TEco9BXQc2mfuId5pmNXN/2806b61de246d7b08b4f5cefbe2514d7/ux-designer-cover.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="fw-bold text-center">UX Designer</h4>
                <p class="text-center px-3">Design captivating experiences. Dive into user research, wireframing, and
                  prototyping for seamless and delightful user interfaces.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$430</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/d3KBmFnS1w0G5KvwNQ7X8/52a8514859266537014ab660f3362f4e/social-media-marketer.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="fw-bold text-center">Social Media Marketer</h4>
                <p class="text-center px-3">Harness social power. Strategize, create content, and analyze metrics to
                  build
                  brand presence and engage audiences effectively.
                </p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$480</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/4gbKow1HQIjUyvr5nvxkbU/b0647c21aba1b4f28c8835dbc95704e8/data-scientist-cover.jpg?auto=format%2Ccompress&dpr=1&w=&h="
                alt="">
              <div class="down-content">
                <h4 class="fw-bold text-center">Data Scientist</h4>
                <p class="text-center px-3">Decode data's language. Master statistical analysis, machine learning, and
                  visualization for informed decision-making.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>$560</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Our University</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">94</div>
                    <div class="count-title">Succesed Students</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">126</div>
                    <div class="count-title">Current Teachers</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2345</div>
                    <div class="count-title">New Students</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">32</div>
                    <div class="count-title">Awards</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img
                src="/static/temp/assets/images/play-icon.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 align-self-center">
          <div class="row">
            <div class="col-lg-9">
              <form id="contact" action="/login" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <h2>LOGIN</h2>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="Username" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <input name="password" type="password" id="password" placeholder="Password" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button style="margin-left: 11rem;" type="submit" id="form-submit" class="button">LOGIN</button>
                    </fieldset><br>
                    <div>
                      <p class="text-center"> Don't have an account? <a href="/studentregistration">Sign Up</a></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@meeting.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.meeting.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2023 Edu mate Co., Ltd. All Rights Reserved.
      </p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/static/temp/vendor/jquery/jquery.min.js"></script>
  <script src="/static/temp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/static/temp/assets/js/isotope.min.js"></script>
  <script src="/static/temp/assets/js/owl-carousel.js"></script>
  <script src="/static/temp/assets/js/lightbox.js"></script>
  <script src="/static/temp/assets/js/tabs.js"></script>
  <script src="/static/temp/assets/js/video.js"></script>
  <script src="/static/temp/assets/js/slick-slider.js"></script>
  <script src="/static/temp/assets/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</body>

</html>