{% extends "index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  {% csrf_token %}
  <table width="200" border="1" class="table table-light">
    <tr>
      <h2>LOGIN</h2>
    </tr>
    <tr>
      <input style="width:20rem;" name="name" type="text" id="name" placeholder="Username" required="">
    </tr>
    <tr>
      <input style="width:20rem;" name="password" type="text" id="password" placeholder="Password" required="">
    </tr>
    <tr>
      <button style="margin-left: 6rem;" type="submit" id="form-submit" class="button">LOGIN</button>
    </tr>
    <tr>
      <p class="text-center"> Don't have an account? <a href="/studentregistration">Sign Up</a></p>
    </tr>
  </table>
</form>
{% endblock %}